mixin packaging(idPackaging, element, idQuantity, quantity)
  div.cat id=idPackaging
    h3 id=idHeaderPacking Сказочное заморское яство
    h2 Нямушка
    h4 #{element}
    p id=idQuantity
    img src="/pictures/cat" alt="cat"
    div
      p #{quantity}
      p кг
    p id=idFooter